:root {
	/* for Task statuses */
	--in-progress: #FCC;
	--finished: #CFC;
	--paused: #CCC;

	--button: #CFF;
	--button-pressed: #EFF;
}

#viz {
	background-color: White;
	}


label[disabled] {
	color: Gray;
}

.viz-buttons button:active {
	background-color: var(--button-pressed);
	transform: translateY(4px);		/* Moving button 4px y-axis */
	}

.viz-buttons div {
	display: inline-flex;
	color: white;
    line-height: 82px;
	/* padding: 5px; */
    }

.viz-buttons small {	/* small texts at bottom of buttons */
	font-size: 12px;
	}

.viz-buttons button {
	/* width: 70px; */
	/* height: 80px; */
	background-color: var(--button);
	font-size: 30px;
	border-radius: 10px;
	border:2px solid Black;
	}

#Node12, #Edge {		/* box containing Nodes ① ② and Edge */
	background-color: White;
	border: 1px solid Black;
	padding: 20px;
	color: Black;
	font-size: 30px;
	}

#Node12 span {
	width: 90px;
	height: 30px;
	/* background-color: White; */
	color: Black;
	font-size: 20px;
	border:2px solid #BBB;
	border-radius: 10px;
	padding: 10px;
	}

#Edge span {
	width: 90px;
	height: 30px;
	background-color: White;
	color: Black;
	font-size: 20px;
	/* text-decoration: underline; */
	/* border:2px solid Black; */
	/* border-radius: 10px; */
	padding: 10px;
	}

/****** for 'Status' radio buttons ******/
input[type='radio'] {
	margin-bottom: 15px;
}

.colorKey {
	color: Black;
	font-size: 18px;
	/* border:1px solid Black; */
	border-radius: 8px;
	padding: 4px;
}

label[for='in-progress']	{ background-color: var(--in-progress); }
label[for='finished']		{ background-color: var(--finished); }
label[for='paused']			{ background-color: var(--paused); }

#new-task-data, input, textarea {
	font-size: 20px;
}

#number, input[type='number'] {
	width: 4em;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: White; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: White;
	margin: auto;
	padding: 20px;
	border: 1px solid Black;
	width: 40%;
}

/* The Close Button */
.close {
	color: #333;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
