:root {
	--button: #CFF;

	/* for Task statuses */
	--in-progress: #FCC;
	--finished: #CFC;
	--paused: #CCC;
	--research: #FF0;
}

/* These 2 lines causes side-pane to overlap on top of viz canvas */
#container { position: relative; }
#viz, #side-pane, #voting, #Node12, #Edge {
	position: absolute;
	}

#viz {		/* the Vis.js canvas */
	background-color: White;
	z-index: -1;
	}

label[disabled] {
	color: Gray;
	}

.viz-buttons button {
	/* width: 100%; */
	height: 100%;
	background-color: var(--button);
	font-size: 25px;
	border-radius: 10px;
	/* border:2px solid Black; */
	}

.viz-buttons button:active {
	transform: translateY(4px);		/* Moving button 4px y-axis */
	}

label.small {	/* small texts at bottom of buttons */
	font-family: sans;
	font-size: 14px;
	}

.viz-buttons td {
	height: 36px;
	padding: 0 2px;
}

#Node12, #Edge {		/* box containing Nodes ① ② and Edge */
	background-color: #EEE;
	border-radius: 7px;
	/* border: 2px solid #DDD; */
	margin: 10px;
	padding: 10px;
	color: Black;
	font-size: 22px;
	z-index: 0;
	}

#Node12 span {
	width: 90px;
	height: 25px;
	background-color: White;
	color: Black;
	font-size: 20px;
	border:2px solid #BBB;
	border-radius: 10px;
	padding: 5px;
	}

#Edge span {
	width: 90px;
	height: 25px;
	/* background-color: #EEE; */
	color: Black;
	font-size: 20px;
	/* text-decoration: underline; */
	/* border:2px solid Black; */
	/* border-radius: 10px; */
	padding: 5px;
	}

/******************* for 'Status' radio buttons ******************/
input[name='status'] {
	margin-bottom: 15px;
	accent-color: Black;
}

.colorKey {
	color: Black;
	font-size: 18px;
	border-radius: 8px;
	padding: 4px;
}

label[for='in-progress']	{ background-color: var(--in-progress); }
label[for='finished']		{ background-color: var(--finished); }
label[for='paused']			{ background-color: var(--paused); }
label[for='research']		{ background-color: var(--research); }

#side-pane input[type='text'] {
	font-size: 20px;
	width: 95%;
}

textarea {
	font-size: 14px;
	width: 95%;
	}

#number, input[type='number'] {
	margin-right: 10px;
	float: right;
}

/******************* for Authors list ******************/

input[type='author'] {
	width: 90%;
	color: black;
	border:1px solid Black;
	font-size: 18px;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
	display: block;
}

input[type='author'][disabled] {
	background-color: var(--button);
}

/******************* Voting ******************/

#voting {
	width: clamp(40ch, 60%, 90ch);	/* minimum, ideal, maximum */
	/* border:2px solid #DDD; */
	background-color: #EEE;
	color:Blue;
	padding:5px;
}

/************** Modal Windows for asking user inputs ************/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: White; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: White;
	margin: auto;
	padding: 10px;
	border: 2px solid Black;
	width: 40%;
	font-size: 18px;
}

/* Modal Content for Help */
.help-content {
	background-color: White;
	margin: auto;
	padding: 0px;
	border: 2px solid Black;
	width: 50%;
	font-size: 18px;
}

/* Close-Window button */
.close {
	color: Red;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin: 5px;
}

/* Navigation buttons */
.nav {
	color: Blue;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin: 5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
