.name {
	font-size: 20px;
	display:inline-block;margin-right:5px; width:10%;
}

.score {
	font-size: 20px;
	display:inline-block;margin-right:5px; width:10%;
}

.slidecontainer {
	width: clamp(40ch, 50%, 70ch);	/* minimum, ideal, maximum */
    height: 35px;
}

.slider {
	width: 70%;
	display:inline-block;
}
